<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav>
    <img class="bank-app" src="/images/BankApp.png" />
    <div class="nav-menu">
      <a class="nav-link <%= title === 'Welcome To $BankApp' ? 'active' : '' %>" href="/">Home</a>
      <% if (user) { %>
      <a class="nav-link <%= title === 'New Account Opening!' ? 'active' : '' %>" href="/accounts/new">Open Account</a>
      <a class="nav-link <%= title === 'Account Transfers' ? 'active' : '' %>" href="/accounts/transfer">Transfer Funds</a>
      <a class="nav-link <%= title === 'My Accounts' ? 'active' : '' %>" href="/accounts">My Accounts</a>
      <% } %>
      <a class="nav-link <%= title === 'About BankApp' ? 'active' : '' %>" href="/bankapp">About $BankApp</a>
    </div>
    <div class="sign-in">
      <% if (user) { %>
      <a class="log" href="/logout">Sign-Out</a>
      <% } else { %>
      <a class="log" href="/auth/google" class="login">Sign-In</a>
      <% } %>
    </div>
  </nav>