<%- include('../partials/header') %>

<h1 class="title">MY ACCOUNTS</h1>

<a href="/accounts/new">OPEN NEW ACCOUNT</a>

<table>
  <thead>
    <tr>
      <th>Account Type</th>
      <th>Account Number</th>
      <th>Balance</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% accounts.forEach(function(a){ %>

    <tr>
      <td><%= a.accountType %></td>
      <td><%= a.accountNumber %></td>
      <td><%= a.balance %></td>
      <td><a href="/accounts/<%= a._id %>">Details</a></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<a href="/accounts/transfer">Transfer</a>

<%- include('../partials/footer') %>
