<%- include('../partials/header') %>

<h1 class="accounts-title">Your current accounts with $BankApp</h1>

<div class="account-container">
  <% accounts.forEach(function(a){ %>
  <div class="account-box">
    <h1><%= a.accountType %></h1>
    <h3><%= a.accountNumber %></h3>
    <h1>$<%= a.balance %>.00</h1>
    <a href="/accounts/<%= a._id %>">Details</a>
  </div>
  <% }) %>
</div>

<%- include('../partials/footer') %>
