<%- include('../partials/header') %>

<section>
  <div>
    <h1><%= account.accountType %></h1>
    <h2><%= account.balance %></h2>
    <h2><%= account.accountNumber %></h2>
  </div>
</section>
<div class="settings">
  <a href="/accounts/transfer">Transfer</a>
  <a href="/beneficiaries/new/<%= account._id %>">Add Beneficiary</a>
  <form action="/accounts/<%= account._id %>?_method=DELETE" method="POST">
    <button type="submit">Close Account</button>
  </form>
</div>
<h1>Beneficiaries</h1>
<% if (beneficiaries.length) { %>
<table class="ticket-table">
  <thead>
    <tr>
      <th>Beneficiary Name</th>
      <th>Beneficiary Birthdate</th>
      <th>Beneficiary Address</th>
      <th>Remove</th>
      <th>Update Beneficiary Information</th>
    </tr>
  </thead>
  <tbody>
    <% beneficiaries.forEach((beneficiary) => { %>
    <tr>
      <td><%= beneficiary.name %></td>
      <td><%= beneficiary.birthdate %></td>
      <td><%= beneficiary.address %></td>
      <td>
        <form
          action="/beneficiaries/<%= beneficiary._id %>?_method=DELETE"
          method="POST"
        >
          <button type="submit">Remove</button>
        </form>
      </td>
      <td>
        <a href="/beneficiaries/<%= beneficiary._id %>/update">EDIT</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<h5>CAUTION: removing a beneficiary will take affect immeditetly</h5>
<% } else { %>
<h5>This account has no beneficiaries</h5>
<% } %> <%- include('../partials/footer') %>
