<%- include('../partials/header') %>
<h1 class="accounts-title">Account Details</h1>
<div class="accounts-container">
  <div class="account-title-div">
    <h1>Account Info</h1>
  </div>
  <div class="account-details">
    <h1 class="details-title">Account Holder:</h1>
    <h1 class="details-asset"><%= user.name %></h1>
    <h1 class="details-title">Account Type:</h1>
    <h1 class="details-asset"><%= account.accountType %></h1>
    <h1 class="details-title">Account Number:</h1>
    <h1 class="details-asset"><%= account.accountNumber %></h1>
    <h1 class="details-title">Account Balance:</h1>
    <h1 class="details-asset">$<%= account.balance %></h1>
  </div>
  <div class="account-actions">
    <a class="action-link" href="/accounts/<%= account._id %>/deposit">Deposit Funds</a>
    <a class="action-link" href="/accounts/<%= account._id %>/withdraw">Withdraw Funds</a>
    <a class="action-link" href="/accounts/transfer">Transfer Funds</a>
    <a class="action-link ben-link" href="/beneficiaries/new/<%= account._id %>">Add Beneficiary</a>
    <form action="/accounts/<%= account._id %>?_method=DELETE" method="POST">
      <button class="close-acc-btn" type="submit">Close Account</button>
    </form>
  </div>
  <div class="ben-title">
    <h1>Beneficiaries</h1>
  </div>
  <% if (beneficiaries.length) { %>
  <div class="beneficiary-display">
    <table>
      <thead>
        <tr>
          <th>Beneficiary Name</th>
          <th>Beneficiary Birthdate</th>
          <th>Beneficiary Phone Number</th>
          <th>Update Info</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <% beneficiaries.forEach((beneficiary) => { %>
        <tr>
          <td><%= beneficiary.name %></td>
          <td><%= formatDate(beneficiary.birthdate) %></td>
          <td><%= beneficiary.phoneNumber %></td>
          <td>
            <a class="edit-ben" href="/beneficiaries/<%= beneficiary._id %>/update">EDIT</a>
          </td>
          <td>
            <form action="/beneficiaries/<%= beneficiary._id %>?_method=DELETE" method="POST">
              <button class="remove-ben" type="submit">Remove</button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <h5>CAUTION: Removing a beneficiary will take effect immediately.</h5>
  </div>
<% } else { %>
<h2 class="no-ben">This account has no beneficiaries.</h2>
<% } %> 
<div class="history-title">
  <h1>Transaction History</h1>
</div>
<div class="history-display">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <% history.reverse().forEach((h) => { %>
      <tr>
        <td class="<%=h.transactionType%>"> <%= formatDate(h.transactionDate) %> </td>
        <td class="<%=h.transactionType%>"> <%= h.transactionDescription %> </td>
        <td class="<%=h.transactionType%>"> <%=h.transactionType%> </td>
        <td class="<%=h.transactionType%>"> $<%=h.transactionAmount%> </td>
        <td class="<%=h.transactionType%>"> $<%= h.balance %> </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
</div>
<%- include('../partials/footer') %>