<%- include('../partials/header') %>
<h1 class="new-account-title">Withdraw Funds</h1>
<div class="withdraw-container">
  <% if (error) { %>
    <div class="transfer-error">
      <h1> <%= error %> </h1>
    </div>
    <% } %>
  <form class="withdraw-form" action="/accounts/<%= account._id %>/withdraw/submit?_method=PUT" method="POST">
    <label class="withdraw-label">Account #</label>
    <div class="user-name account-asset"><%= account.accountNumber %></div>
    <label class="withdraw-label">Withdraw Amount:<span class="withdraw-dollar">$</span></label>
    <input required pattern="[0-9]+(\.[0-9]{1,2})?" class="withdraw-amount" name="withdrawAmount" />
    <button class="withdraw-btn" type="submit">Withdraw Funds</button>
  </form>
</div>
<%- include('../partials/footer') %>