<%- include('../partials/header') %>

<h1>update info here!</h1>
<form action='/beneficiaries/<%= beneficiary._id %>/update/submit' method="POST">
    <label
      >Beneficiary Name
      <input name="name" type="text" value="<%= beneficiary.name %>">
      </select>
    </label>
    <label
      >Beneficiary Address
      <input name="address" type="text" value="<%= beneficiary.address %>">
      </select>
    </label>
    <label
      >Birthdate
      <input name="birthdate" type="date"/>
    </label>
    <label>for account: <%= beneficiary.account %> </label>
    <button type="submit">UPDATE DETAILS</button>
  </form>

<%- include('../partials/footer') %>
